html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-primary: theme("colors.primary-color");
  --color-primary-hover: theme("colors.primary-hover");
  --color-warning-color: theme("colors.warning-color");
}
